@import url('https://fonts.googleapis.com/css?family=Poppins:700|Inter:400');

body {
    font-family: 'Inter', sans-serif;
    background-color: #292C33;
    color: #FFFFFF;
    font-size: 14pt;
    width: 60%;
    height: 100%;
    margin: 0 auto;
}

h1 {
    font-family: 'Poppins', sans-serif;
}

.textInput {
    resize: none;
    outline: none;
    border: none;
    font-size: 14pt;
    color: #FFFFFF;
    background-color: #292C33;
    width: 100%;
}

button {
    background-color: #A63F2B;
    border: none;
    border-radius: 5px;
    padding: 5px;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
}